@use '../login/login.scss' as *;

.success-alert {
  background: #ECFDF5;
  color: #065F46;
  padding: 0.75rem 1rem;
  border-radius: var(--radius-md);
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  border: 1px solid #A7F3D0;
}
